nav ul a,
h1,
h5,
p {
  color: #fff;
}

p {
  font-size: 1.2em;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
